<app-bread-crumb [items]="[{text: 'Categorias', link: '/categories'}, {text: pageTitle}]">
</app-bread-crumb>

<app-page-header [button-class]="'btn-light'" [button-link]="'/categories'" [button-text]="'<< Voltar'"
  [page-title]="pageTitle">
</app-page-header>


<form [formGroup]="resourceForm" (submit)="submitForm()">
  <div class="card">
    <div class="card-header">Informações sobre a categoria</div>
    <div class="row g-2">
      <div class="col-md-4">
        <div class="form-floating">
          <input type="text" class="form-control" id="name" placeholder="Lazer" formControlName="name">
          <label for="name">Nome</label>
          <app-form-field-error [form-control]="resourceForm.get('name')"></app-form-field-error>
        </div>
      </div>
      <div class="col-md-8">
        <div class="form-floating">
          <input type="text" class="form-control" id="description" placeholder="Lazer" formControlName="description">
          <label for="description">Descrição</label>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="serverErrorMessages.length > 0" class="alert alert-danger mt-4">
    <strong>Erro no servidor</strong>
    <ul *ngFor="let erro of serverErrorMessages ">
      <li> {{erro}} </li>
    </ul>
  </div>
  <button [disabled]="submittingForm || resourceForm.invalid" type="submit"
    class="btn btn-dark btn-lg float-end mt-3">Salvar</button>
</form>
